<div *ngIf="isLoggedIn()" class="container">
    <div class="bio-header">
        <h2>Stephen Daniel Baldwin</h2>
        <h5>October 11, 1993</h5>
    </div>
    <hr>
    <div class="bio-con">
        <!--<h5>My story begins on October 11th, 1993 in Grand Junction, CO, born to Ann and Dave Baldwin. I came into this world 
            predisposed to adversity at birth, having been born six weeks premature. This caused me numerous complications throughout 
            the majority of my early adolescent years, struggling mightily to gain a grasp on basic childhood apptitudes. 
            Problems with speech, cognition, sociability, and hyperactivity plagued my everyday existence. Though not to be 
            detered, I sought out practice and repitition as a means to overcoming obstacles at an early age, and overcome 
            I would.</h5> 
            <h5>By the time I reached middle school, I'd become a fully functioning and thriving preteen who no longer required 
            medication nor special assistance just to get by. During this time I took up interest in a dizzying array of 
            activities including baseball, basketball, tennis, hockey, golf, gymnastics, dirtbiking, mountainbiking, skateboarding, 
            snowboarding, and filming and video editing, thus solidifying my passion for recreation and competition. Naturally my 
            interests would consolidate, eventually concluding that baseball was my true destiny. </h5>
            <h5>I attended Grand Junction Highschool from 2008 - 2012, four years of which I believe were my most formidable 
                by far. Everything that makes me who I am now, from my beliefs, habits, to my routine and work ethic, can all be 
                attributed to my time spent in highschool. Freshmen year I became absolutely hell bent on making the varsity baseball 
                team, despite being told by the coach himself that freshmen don't play on varsity, ever. I, along side my older brother, Geoff, 
                who was a senior at the time, began a rigourous regimine involving waking up at 5am, working out twice daily, eating healthy, 
                disavowing junk foods and avoiding all things which may be counterproductive. Not only did I become the first freshmen 
                to ever earn a spot on the varsity roster, I also snagged the No.1 spot in the pitching rotation, as well as recieving 
                runner-up honors for player of the year that year in the SWL conference, falling short only to my brother, who took first. 
                I'd go on to recieve all-state honors my sophomore, junior and senior years, and all-American my senior year. Nearing the 
                end of my highschool career, I decided that I had no desire to attend college. Rather, I would enter the MLB draft and go 
                straight into the minors, just as my brother had done before me.
            </h5>
            <h5>My plans to play professional baseball came to a screeching halt shortly after graduating, while participating in a pre 
                draft workout in California. During a timed base running exercise, I misstepped while rounding a bag, dislocating my hip, 
                damaging my sciatic nerve and sacroiliac joint, rendering me unable to walk for months afterwards. News of my injury 
                spread like wildfire amongst the scouting communinity, I was dropped by my agent, and any draft prospects I had previous to 
                my injury were all but gone. Unenthused with my situation, I ended up signing on via scholarship with Iowa Western CC. 
                with hopes to salvage my career, and reenter the draft after my first year. 
            </h5>
            <h5>Needless to say, things didn't work out as planned. My hip would never fully recover, and I ended up spending the majority 
                of my freshmen year in college on the injured reserve list. Unable to play, my scholarship was dropped, and I returned home 
                after that spring to live with my parents.
                Unable to find decent work in Grand Junction's depressed economy, I spent alot of time self teaching, trying to aquire as 
                many skills as possible with an entrepreneurial aim. Aside from learning basic programming skills and aquiring my 
                real estate licence, I became immersed in the world of finance, specifically currency trading. While simoultaneously working 
                various odd jobs, I spent months perfecting my craft as a market speculator, and eventually took what little I had in my 
                savings and began trading with live money. Slowly but surely, I grew my account to a point of sustainable living, moved 
                out of the nest, and got my own place.
            </h5>
            <h5>For three straight years, I lived alone and worked alone. Also, I was working nights in order to capture 
                opportunities during the European and Asian trading sessions, a common practice for most currency traders living in the 
                U.S. Living alone and working nights took a pretty substantial toll on my mental psyche over time, having almost no social life 
                at all. I found myself empty and depressed. After a while, every day that followed seemed more lonely, less important, 
                and equally exhausting. It was on my 21st birthday, when having no friends and celebrating only with my parents, that I broke 
                down, called it quits and cashed out my entire trading account. Although quiting left me for some time with a deep sense 
                of shame, feeling that I'd somehow betrayed my own values, I can say now that without a shodow of a doubt, it was the best 
                decision i've ever made.   
            </h5>
            <h5>In the fall of 2015, using the money I'd made from trading, I hopped ship to Boulder, CO, in order to pursue a new career 
                as a web developer. During my time in Boulder I attended the RefactorU Full Stack Web Development Bootcamp, where my fellow 
                bootcampers and I learned full stack development with an emphasis on M.E.A.N stack. Since graduating from RefactorU, I've 
                become familiar and competent with multiple programming languages and frameworks, though I still prefer M.E.A.N as my primary 
                dev stack.
            </h5>
            <h5>My condolences to anyone who actually read my corny bio in all it's entirety, I hope I didn't put you to sleep, and I hope you found it to be 
                even the least bit meaningful. for something more meaningful, go check out some of my work samples in the samples tab.
            </h5>-->
            <div class="bio-header">
                <h4>Background</h4>
            </div>
            <h5>I grew up in Grand Junction Colorado along side my parents, Ann and Dave, and my older brother, Geoff. I developed a great passion for competition and creativity at an early age, 
                being involved in a dizzying array of activities including baseball, basketball, soccer, tennis, hockey, golf, gynastics, dirtbiking, mountainbiking, skateboarding, snowboarding,
                filming, photography, and video editing. However baseball would prevail to become my forte, essentially dominating my existence through highschool and up until college. I was a considerably 
                decorated athlete in highschool, garnering all-conference honors all four years, all-state my sophomore through senior years, and all-American my senior year. Looking to follow in 
                the footsteps of my brother, I planned on entering the MLB draft out of highschool, forgoing an education in order to pursue a professional career in baseball. Unfortunately, an injury 
                sustained to my hip while participating in a pre-draft workout in California, shortly after my senior year, rendered me unable to walk for months afterward, whereas I was dropped 
                by my agent, and ultimately never got drafted. I ended up accepting a scholarship to play at Iowa Western CC with hopes to salvage my career, and reenter the draft after my freshman 
                year. However, I would never fully recover from my injury, and spent the majority of my freshman season on injured reserve. Unable to perform, my scholarship was dropped and I 
                returned home after that spring to live with my parents. During my time living at home, I chose to take a year off from school in order to learn a trade. I engaged in self teaching 
                across multiple disciplines, most notably programming and currency trading, while also obtaining my real estate licence. As time progressed, and while simoultaneously working various 
                odd jobs, I became ever more immersed in currency trading, which after months of practice and honing in my abilities as a market speculator, became my full time job. Slowly but 
                surely, I grew my trading account to a point being able to support myself financially. Eventually I was able to get my own place, and for three straight years, I lived alone and 
                worked alone. Like most other currency traders living in the states, I was working nights in order to capture opportunities during the European and Asian trading sessions, whereas 
                market volitility is typically at it's highest. Although I was making decent money, living alone and working nights over time took a substantial toll on my social life and overall psyche. 
                It was on my 21st birthday, when after only having my parents to celebrate with, that I'd finally had enough and cashed out my entire trading account. 
            </h5>
    </div>
</div>