<div *ngIf="isLoggedIn">
	<div class="samples">
		<div class="container">
			<div class="samples-header-con">
				<h4 class="sample-txt">Build, organize, and keep track of your grocery lists with ease.</h4>
			</div>
		</div>
		<a href="http://107.170.201.135:3000"><button class="btn btn-default" id="sample-btn">CHECK IT OUT</button></a>
		<div class="samples-photo-con">
			<img class="sample-photo" src="/photos/shop.jpg">
			<img class="sample-photo" src="/photos/shop2.jpg">
		</div>
	</div>
</div>