<div *ngIf="isLoggedIn()" class="resume">
	<div class="center-con">
		<div class="res-con">
			<div class="right">
				<div class="name-title-con">
					<h2 class="name">Stephen D. Baldwin</h2>
					<h4 class="title">Web Developer</h4>
				</div>
				<div class="format1">
					<div class="right-header-con">
						<h4 class="right-header-txt">Summary</h4>
					</div>
					<div class="right-con">
						<h6 class="right-con-txt">Full stack web developer well versed in numerous programming languages, with ample experience using content management systems. Flexible learner capable of picking up new technologies fast and with ease. Dillegent worker with an objective driven mindset who thrives in fast paced - demanding environments. Excellent communicator with strong leadership and team collaboration skills.</h6>
					</div>
				</div>
				<div class="format2">
					<div class="right-header-con">
						<h4 class="right-header-txt">Work</h4>
					</div>
					<div class="right-con">
						<div class="header-center">
							<h5 class="right-con-txt"><i>Independent FOREX Trader (2012 - 2015)</i></h5>
						</div>
						<ul>
							<div class="space">
								<h6 class="right-con-txt"><li>Performed daily analysis on multiple currency pairs and other equities markets.</li></h6>
							</div>
							<div class="space">
								<h6 class="right-con-txt"><li>Developed numerous custom charting indicators and automated trading systems.</li></h6>
							</div>
							<div class="space">
								<h6 class="right-con-txt"><li>Consistantly out performed the market, acheiving an overall 65%/35% P/L ratio.</li></h6>
							</div>
						</ul>
					</div>
					<div class="right-con">
						<div class="header-center">
							<h5 class="right-con-txt"><i>Web Developer (2015 - Current)</i></h5>
							<h5 class="right-con-txt"><i>IT5280 & Freelance</i></h5>
						</div>
						<ul>
							<div class="space">
								<h6 class="right-con-txt"><li>Collaborating with clients, devising and developing solutions which far exceed satisfactory expectations.</li></h6>
							</div>
							<div class="space">
								<h6 class="right-con-txt"><li>Building end to end web applications built on M.E.A.N stack, as well as performing maintainence on multiple exsisting client websites.</li></h6>
							</div>
							<div class="space">
								<h6 class="right-con-txt"><li>Maintaining an optimal workflow throughout all stages of development, often meeting production/completion deadlines well ahead of schedule.</li></h6>
							</div>
						</ul>
					</div>
				</div>
				<div class="format3">
					<div class="right-header-con">
						<h4 class="right-header-txt">Education</h4>
					</div>
					<div class="right-con">
						<div class="header-center">
							<h5 class="right-con-txt"><i>Iowa Western CC. (2013 - 2014)</i></h5>
						</div>
						<ul>
							<h6 class="right-con-txt"><li>Athletic scholarship</li></h6>
						</ul>
						<div class="header-center">
							<h5 class="right-con-txt"><i>RefactorU Web-Dev Bootcamp (2015)</i></h5>
						</div>
						<ul>
							<div class="space">
								<h6 class="right-con-txt"><li>Learned full stack web development with an emphasis on M.E.A.N stack technologies.</li></h6>
							</div>
						</ul>
					</div>
				</div>
			</div>
			<div class="left">
				<div class="headshot-con">
					<img class="headshot" src="/photos/me.jpg">
				</div>
				<div class="format1">
					<div class="left-header-con">
						<h4 class="left-header-txt">Contact</h4>
					</div>
					<div class="contact-con">
						<div class="contact-con-info">
							<i class="fa fa-home" aria-hidden="true" id="icon-home"></i>
							<h6 class="contact-con-txt">1750 Blake Street<br>Denver, CO, 80202</h6>
						</div>
						<div class="contact-con-info">
							<i class="fa fa-phone-square fa-2x" aria-hidden="true" id="icon"></i>
							<h6 class="con-con-txt">(970)-640-5850</h6>
						</div>
						<div class="contact-con-info">
							<i class="fa fa-envelope-square fa-2x" aria-hidden="true" id="icon"></i>
							<h6 class="con-con-txt">sdbj93@gmail.com</h6>
						</div>
						<div class="contact-con-info">
							<i class="fa fa-twitter-square fa-2x" aria-hidden="true" id="icon"></i>
							<h6 class="con-con-txt">@SDB_936</h6>
						</div>
					</div>
				</div>
				<div class="format4">
					<div class="left-header-con">
						<h4 class="left-header-txt">Competencies</h4>
					</div>
					<div class="lang-con">
						<ul>
							<li><h6 class="info">HTML</h6></li>
							<li><h6 class="info">CSS</h6></li>
							<li><h6 class="info">JavaScript</h6></li>
							<li><h6 class="info">TypeScript</h6></li>
							<li><h6 class="info">Ruby</h6></li>
							<li><h6 class="info">Python</h6></li>
							<li><h6 class="info">PHP</h6></li>
							<li><h6 class="info">Swift</h6></li>
							<li><h6 class="info">Angular</h6></li>
							<li><h6 class="info">Angular2</h6></li>
							<li><h6 class="info">JQuery</h6></li>
							<li><h6 class="info">React</h6></li>
							<li><h6 class="info">Bootstrap</h6></li>
							<li><h6 class="info">Express</h6></li>
							<li><h6 class="info">Node</h6></li>
							<li><h6 class="info">MongoDB</h6></li>
							<li><h6 class="info">WordPress</h6></li>
							<li><h6 class="info">cPanel</h6></li>
							<li><h6 class="info">Visual Studio</h6></li>
							<li><h6 class="info">REST</h6></li>
							<li><h6 class="info">SOAP</h6></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
