<div *ngIf="isLoggedIn">
	<div class="samples">
		<div class="container">
			<div class="samples-header-con">
				<h4 class="sample-txt">Customize and share your weekly workout routine with your friends.</h4>
			</div>
		</div>
		<a href="http://45.55.170.129:3000"><button class="btn btn-default" id="sample-btn">CHECK IT OUT</button></a>
		<div class="samples-photo-con">
			<img class="sample-photo" src="/photos/workout1.jpg">
			<img class="sample-photo" src="/photos/workout2.jpg">
		</div>
	</div>
</div>